html
	body
		h2 Mudar Senha
		p Para mudar sua senha favor preencher o formulario abaixo

		form(action='http://julianop.com.br/api/login/mudarSenha' method='post')
			input(type='email' name='email' placeholder='Email')
			input(type='text' name='novaSenha' placeholder='Nova senha')
			input(type='submit' value='Confirmar')
