 #equipes .page__background {
    background-color: #EEEEEE;
 }

 #pacientesequipe .page__background {
    background-color: #EEEEEE;
 }

 .equipes-lista {
    margin-bottom: 7px;
    border-radius: 5px;
  }
  
  .equipe-header { 
    width: 100%;
    margin-bottom: 8px;
	  padding: 3px 0 3px 5px;
  }

  .equipes-detalhes {
	  margin-bottom: 5px;
  }