	.lembrete-container {
      width: 90%;
      margin: 10px auto 0;
    }

    .lembrete-header {
      font-weight: 600;
      font-size: 25px;
      padding-top: 20px;
      margin-bottom: 10px;
      position: absolute;
      top: 6px;
      left: 55px;
    }


    .lembrete-header-icon {
	  position: absolute;
	  left: 20px;
	  top: 20px;
    }

    .lembrete-description {
	  float: right;
	  font-size: 17px;
	  padding-top: 3px;
    }

    .lembrete-description-icon {
	  float: left;
	  margin-right: 10px;
    }

    .lembrete-text {
      padding: 5px 10px 10px 10px;
	  height: 200px;
	  border: 1px solid #90A4AE;
	  font-size: 16px;
    }

    .lembrete-input {
	  padding: 5px 10px 10px 10px;
	  height: 200px;
	  font-size: 16px;
    }

    .CBC {
      float: right;
	  position: relative;
	  padding-right: 15px;
	  padding-left: 15px;
    }

    .BMP {
	  float: left;
	  position: relative;
	  padding-right: 15px;
    }

    .dados-lembrete {
	  position: absolute; 
	  color: #BDBDBD;
    }

    .dados-lembrete-container {
	  border: 1px solid #90A4AE;
	  padding: 0 10px 10px 10px;
	  margin-right: 10px;
    }

    .dados-add-lembrete {
	  width: 50px;
	  border-bottom: 1px solid #9E9E9E;
    }