#login .page__background { 
  background-color: white;
}

.login-top{
  width: 100%;
  background-color: #29B6F6;
  padding: 30px 0 30px 0;
}

.login-form {
  text-align: center;
  width: 90%;
  margin: 40px auto 0;
}

.login-input {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
  border-bottom: 2px solid #29B6F6;
}

#login-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #039BE5;
  color: white;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
  color: #039BE5;
}

.registro {
  margin: 3px auto 0 auto;
  font-size: 14px;
  color: #039BE5;
}

#fb-registro {
  margin: 3px auto 10px auto;
  padding-left: 30px;
  width: 75%;
  font-size: 14px;
  color: white;
  background-color: #3b5998;
}

#google-registro {
  margin: 3px auto 0 auto;
  padding-left: 30px;
  width: 75%;
  font-size: 14px;
  color: white;
  background-color: #d34836;
}

#olho {
  position:absolute;
  right:25px;
  top: 280px;
}

#gp-icon {
  position: absolute;
  left: 5px;
  top: 6px;
}

#fb-icon {
  position: absolute;
  left: 7px;
  top: 6px;
}