@media screen and (orientation: portrait){
  /*Portrait orientation design*/

  #pacientes .page__background { 
    background-color: #EEEEEE;
  }

  #grupos .page__background { 
    background-color: #EEEEEE;
  }

  #vergrupo .page__background { 
    background-color: #EEEEEE;
  }

  #perfilpaciente .page__background { 
    background-color: #EEEEEE;
  }

  .paciente-lista {
    margin-bottom: 7px;
    border-radius: 5px;
  }
  
  .paciente-header { 
    width: 100%;
    margin-bottom: 8px;
	  padding: 3px 0 3px 5px;
  }

  .alerta {
    background-color: white;
	  border-left: 10px solid #EF5350; 
  }

  .ativo {
	 background-color: white;
   border-left: 10px solid #8BC34A;  
  }

  .inativo {
    background-color: white;
    border-left: 10px solid #607D8B; 
  }

  .grupo {
    background-color: white;
    border-left: 10px solid #FFEB3B;
  }

  .paciente-detalhes {
	  margin-bottom: 5px;
  }

  .paciente-img {

  }

  .procurar {
	  position: relative;
    left: 5px;
    width: 90%;
	  background-color: #0277BD;
	  border-radius: 10px;
	  padding-left: 5px;
  }
}

@media screen and (orientation: landscape){
  /*Landscape orientation design*/
  .paciente-lista {

  }
  .paciente-header { 
    width: 100%;
    margin-bottom: 8px;
	padding: 3px 0 3px 5px;
  }

  .alerta {
	background-color: #EF5350; 
	margin-bottom: 7px;
	border-radius: 5px;
  }

  .ativo {
	background-color: #8BC34A; 
	margin-bottom: 7px;
	border-radius: 5px;
  }

  .inativo {
	background-color: #607D8B;
	margin-bottom: 7px; 
	border-radius: 5px;
  }

  .paciente-detalhes {
	margin-bottom: 5px;
  }

  .paciente-img {


  }

  .procurar {
	position: relative;
    left: 5px;
    width: 90%;
	background-color: #0277BD;
	border-radius: 10px;
	padding-left: 5px;
  }
}

