@media screen and (orientation: portrait){
  /*Portrait orientation design*/

  .profile-wrapper {
    padding: 16px 10px 0 10px;
  }

  .profile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    line-height: 1.4;
    background-color: #263238;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
  }

  .profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  }

  .profile-name {
    margin: 15px 0 0 0;
    font-weight: 600;
    font-size: 25px;
  }

  .profile-id {
    margin: 0 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
  }

  .profile-desc {
    font-size: 17px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .info-col {
    height: 60px;
    line-height: 1;
    padding: 12px 0 12px 4px;
  }

}

@media screen and (orientation: landscape){
  /*Landscape orientation design*/

  .profile-wrapper {
    padding: 16px 10px 0 10px; /*16px 10px 0 10px;*/
  }

  .profile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    line-height: 1.4;
    background-color: #263238;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
  }

  .profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  }

  .profile-name {
    margin: 15px 0 0 0;
    font-weight: 600;
    font-size: 25px;
  }

    .profile-id {
      margin: 0 0 5px 0;
      font-size: 14px;
      opacity: 0.6;
    }

  .profile-desc {
    font-size: 17px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .info-col {
    height: 60px;
    line-height: 1;
    padding: 12px 0 12px 4px;
  }

}