/*@media screen and (orientation: portrait){
	/*Portrait orientation design*/

  #cadastromedico .page__background { 
    background-color: white;
  }

  #editarmedico .page__background { 
    background-color: white;
  }

  #addpaciente .page__background { 
    background-color: white;
  }

  #editarpaciente .page__background { 
    background-color: white;
  }

	.registro-form {
      text-align: center;
      width: 95%;
      margin: auto;/*8px auto 20px;*/
    }

    .registro-input {
      margin-bottom: 5px;
    }

    .registro-input-top {
      text-align: center;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .registro-input-icon {
      text-align: center;
      width: 100%;
    }

    .registro-icone{
       width: 45px;
    }

    .button-send {
      background-color: #039BE5;
      color: white;
    }  

    .add-foto {
      width: 320px;
      margin: auto; /*margin-left: 3px;*/
      color: white;
      background-color: #29B6F6; 
    }

    .registro-image {

      height: 120px;
      width: 120px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: white;
      border: 1px solid white;

    }

    .editar-form {
      text-align: center;
      width: 95%;
      margin: 8px auto 20px;
    }

    .editar-image {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      border: inset 1px rgba(0, 0, 0, 0.3);
    }

    .icon-col {
      background-color: #29B6F6; 
      min-width: 55px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 10px;
      color: white;
    }

    .info-col {
      background-color: white; 
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 10px;
    }

    .info-col-img {
      background-color: white; 
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 10px 5px;
    }

    .reg-card-um {
      border-radius: 5px;
      border: 1px solid #29B6F6;
      padding: 0;
      margin: auto; /*10px 5px 10px;*/
      margin-bottom: 8px;
      height: 62px;
      width: 320px;
    }

    .reg-card-dois {
      border-radius: 5px;
      border: 1px solid #29B6F6;
      padding: 0;
      margin: auto; /*10px 5px 10px;*/
      margin-bottom: 8px;
      height: 85px;
      width: 320px;
    }

    .but {
      background-color: white;
      border-radius: 5px;
      padding: 0;
      margin: auto; /*10px 5px 10px;*/
      height: 85px;
      width: 320px;
    }

    .reg-card-img {
      border-radius: 5px;
      border: 1px solid #29B6F6;
      padding: 0;
      margin: auto; /*10px 5px 10px;*/
      height: 100px;
      width: 320px;
    }

    .img-col {
      background-color: #29B6F6; 
      min-width: 80px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px;
    }

/*}

@media screen and (orientation: landscape){
	/*Landscape orientation design

	.registro-form {
      text-align: center;
      width: 90%;
      margin: 20px auto 0;
    }

    .registro-input {
      text-align: center;
      width: 100%;
      margin-left: 45px;
    }

    .registro-input-top {
      text-align: center;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .registro-input-icon {
      text-align: center;
      width: 100%;
    }

    .registro-icone{
       width: 45px;
    }

    .button-send {
      margin-top: 25px;
      background-color: #039BE5;
      color: white;
    }  

    .registro-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: white;
      border: 1px solid white;

    }

    .editar-form {
      text-align: center;
      width: 90%;
      margin: 40px auto 0;
    }

    .editar-image {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      border: inset 1px rgba(0, 0, 0, 0.3);
    }

}*/