.registro-form {
  text-align: center;
  width: 90%;
  margin: 20px auto 0;
}

.registro-input {
  text-align: center;
  width: 100%;
  margin-left: 45px;
}

.registro-input-top {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.registro-input-icon {
  text-align: center;
  width: 100%;
}

.registro-icone{
   width: 45px;
}

.button-send {
  margin-top: 25px;
  background-color: #039BE5;
  color: white;
}

.registro-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: white;
  border 1px solid white;

}

.editar-form {
  text-align: center;
  width: 90%;
  margin: 40px auto 0;
}

.editar-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: inset 1px rgba(0, 0, 0, 0.3);
}
