@media screen and (orientation: portrait){
  /*portrait orientation*/
  
  .logoff-button {
    width: 100%;
    margin: 0 auto;
    background-color:#F43838;
    text-align: center; 
  }

  .face-register {
    margin: 3px auto 0 auto;
    font-size: 14px;
    color: #FFFFF0;
    background-color:#1874CD;
  }

  .toolbar {
    background-color: #29B6F6;
  }

  .tabbar {
    background-color: #29B6F6;
  }

  .profile-list {
    text-align: center;
    width: 95%;
    margin: 10px auto 0;
  }

  .block_container {
    text-align:center;
  }

  .spd-dial {
    background-color: #29B6F6;
  }

  .lista-container {
    text-align: center;
    width: 95%;
    margin: 8px auto 20px;
  }

  .grafico-container {
    text-align: center;
    margin-top: 40px;
    padding-right: 17px;
    padding-left: 5px;
  }

} 

@media screen and (orientation: landscape){
  
  .logoff-button {
    width: 100%;
    margin: 0 auto;
    background-color:#F43838;
    text-align: center; 
  }

  .face-register {
    margin: 3px auto 0 auto;
    font-size: 14px;
    color: #FFFFF0;
    background-color:#1874CD;
  }

  .toolbar {
    background-color: #29B6F6;
  }

  .tabbar {
    background-color: #29B6F6;
  }

  .profile-list {
    text-align: center;
    width: 95%;
    margin: 10px auto 0;
  }

  .block_container {
      text-align:center;
  }

  .spd-dial {
    background-color: #29B6F6;
  }
  
} 