.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

.login-input {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
  background-color: #008080;
}

.logoff-button {
  width: 100%;
  margin: 0 auto;
  background-color:#f43838;
  text-align: center; 
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
  color: #329999;
}

.register {
  margin: 3px auto 0 auto;
  font-size: 14px;
  color: #329999;
}

.toolbar {
  background-color: #198c8c;
}

.tabbar {
  background-color: #198c8c;
}

.register-form {
  text-align: center;
  width: 90%;
  margin: 30px auto 0;
}

.register-input {
  text-align: center;
  width: 100%;
}

.button-send {
  background-color: #008080;
}

.profile-list {
  text-align: center;
  width: 95%;
  margin: 10px auto 0;
}

.block_container {
    text-align:center;
}